body {
    margin: 0;
	text-align: center;
    padding: 0;
    height: 100%;
}

h2 {
    font-size: 6em;
}

.timer { 
	cursor: pointer;
	border-style: solid;
	width: 100%;
	margin: 0 auto;
}

#hourglass {
    border-style: dashed;
    margin: 0 auto;
    width: 100px;
    height: 300px;
    
}

#sand {
    background: #98bf21;
    height: 0px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3em;
}